@if (instanciaPaginador.totalDePaginas() > 1) {
  <nav aria-label="Navegación de páginas" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="instanciaPaginador.indicePaginaActual() === 0">
        <a class="page-link" (click)="cambiarPagina(0)" href="javascript:void(0)">« Primero</a>
      </li>
      <li class="page-item" [class.disabled]="instanciaPaginador.indicePaginaActual() === 0">
        <a class="page-link" (click)="cambiarPagina(instanciaPaginador.indicePaginaActual() - 1)" href="javascript:void(0)">←</a>
      </li>

      @for (pagina of instanciaPaginador.arregloDePaginas(); track pagina) {
        <li class="page-item" [class.active]="(instanciaPaginador.indicePaginaActual() + 1) === pagina">
          <a class="page-link" (click)="cambiarPagina(pagina - 1)" href="javascript:void(0)">{{ pagina }}</a>
        </li>
      }

      <li class="page-item" [class.disabled]="(instanciaPaginador.indicePaginaActual() + 1) >= instanciaPaginador.totalDePaginas()">
        <a class="page-link" (click)="cambiarPagina(instanciaPaginador.indicePaginaActual() + 1)" href="javascript:void(0)">→</a>
      </li>
      <li class="page-item" [class.disabled]="(instanciaPaginador.indicePaginaActual() + 1) >= instanciaPaginador.totalDePaginas()">
        <a class="page-link" (click)="cambiarPagina(instanciaPaginador.totalDePaginas() - 1)" href="javascript:void(0)">Último »</a>
      </li>
    </ul>
  </nav>
}
