/* Contenedor de la barra superior para que siempre esté arriba */
.header-fixed-container {
  position: fixed;
  /* El secreto: Deja espacio para la barra de gob.mx (aprox 45px) */
  top: 40px;
  left: 0;
  right: 0;
  z-index: 1000; /* Un nivel alto, pero que permita ver el dropdown */
}

/* Contenedor principal que empieza DEBAJO de la barra superior */





/* Manejo de colapso */
.menu-collapsed .sidebar-aside {
  width: 80px;
}



.layout-wrapper {
  display: flex;
  /* Altura Gob (45px) + Tu barra (60px) = 105px */
  margin-top: 80px;
  min-height: calc(100vh - 105px);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.sidebar-aside {
  width: 290px;
  flex-shrink: 0;
  background-color: #fff;
  border-right: 1px solid #ddd;
}



.main-content h2 {
  margin-top: 15px !important; /* Un margen pequeño solo para que no pegue al borde negro */
  padding-top: 0;
}

.main-content hr.red {
  margin-top: 5px;
  margin-bottom: 20px;
}


.sidebar-aside {
  width: 290px;
  flex-shrink: 0;
  border-right: 1px solid #ddd;
  background-color: #fff;
  /* Transición suave */
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden; /* Evita que el texto se vea un segundo mientras se cierra */
}

.menu-collapsed .sidebar-aside {
  width: 80px;
}
