<!-- 1. Barra Superior (Gobierno + Sistema) -->
<header class="header-fixed-container">
  <app-sidebar></app-sidebar>
</header>

<!-- 2. Contenedor del Cuerpo (Menú Lateral + Páginas) -->
<div class="layout-wrapper" [class.menu-collapsed]="isMenuCollapsed">

  <!-- Menú Lateral -->
  <aside class="sidebar-aside">
    <app-left-menu (toggleMenuClicked)="toggleMenu()"></app-left-menu>
  </aside>

  <!-- Área de Contenido -->
  <main class="main-content">
    <alert></alert>
    <app-loader></app-loader>
    <router-outlet></router-outlet>
  </main>

</div>
