<div class="container-fluid p-0 login-wrapper">
  <!-- g-0 elimina el espacio lateral entre las columnas -->
  <div class="row g-0 login-row">

    <!-- COLUMNA IZQUIERDA: IMAGEN -->
    <div class="col-md-6 d-none d-md-block position-relative">
      <img src="cics-hub.png" alt="SICIMSS" class="image-cover">
      <div class="overlay-text">
        <h1 class="h2 fw-bold">SICIMSS</h1>
        <p class="lead">Sistema de Integración CICS</p>
      </div>
    </div>

    <!-- COLUMNA DERECHA: FORMULARIO -->
    <div class="col-md-6 form-container">
      <div style="width: 100%; max-width: 350px;">

        <h3 class="mb-4 text-center">Acceso</h3>

        @if (errorMessage) {
          <div class="alert alert-danger py-2 small mb-3 animate__animated animate__headShake">
            <i class="bi bi-exclamation-circle me-2"></i>
            {{ errorMessage }}
          </div>
        }

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group mb-3">
            <label class="control-label fw-bold small">USUARIO API</label>
            <input type="text" formControlName="user" class="form-control"
                   placeholder="Clave de usuario" autocomplete="username">
          </div>

          <div class="form-group mb-4">
            <label class="control-label fw-bold small">CONTRASEÑA</label>
            <input type="password" formControlName="password" class="form-control"
                   placeholder="********" autocomplete="current-password">
          </div>

          <button type="submit" class="btn btn-primary w-100 shadow-sm" [disabled]="loginForm.invalid">
            Acceder al Sistema
          </button>
        </form>

        <p class="text-center mt-5 small text-muted">
            &copy; 2026 IMSS - Microservicio CICS
        </p>
      </div>
    </div>

  </div>
</div>
