<nav class="side-menu">
  <ul class="nav-list">
    @for (item of menuItems; track item.name) {
      <li [class.expanded]="item.isExpanded">

        <a [routerLink]="(item.disabled || item.children) ? null : item.route"
           (click)="onItemClick($event, item)"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact: !item.children}"
           [ngClass]="{'menu-item-disabled': item.disabled}">

          <i class="menu-icon" [class]="item.icon"></i>
          <span class="menu-text">{{ item.name }}</span>

          @if (item.children && item.children.length > 0) {
            <!-- Flecha de Bootstrap Icons -->
            <i class="bi bi-chevron-down submenu-arrow"></i>
          }
        </a>

        @if (item.children && item.children.length > 0) {
          <ul class="submenu">
            @for (child of item.children; track child.name) {
              <li>
                <a [routerLink]="child.disabled ? null : child.route"
                   (click)="onItemClick($event, child)"
                   routerLinkActive="active-link">
                  <span class="menu-text">{{ child.name }}</span>
                </a>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>

  <!-- Botón de colapsar -->
  <div class="menu-toggle-container">
    <button class="toggle-button" (click)="onToggleMenu()" title="Expandir/Contraer">
      <i class="bi bi-list"></i>
    </button>
  </div>
</nav>
